<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Michela Dai Zovi">
    <meta name="description" content="Oldies Playing in Another Room and...">

    <meta property="og:url"                content="https://www.oldiesinanotherroom.com/" />
    <meta property="og:title"              content="Oldies Playing in Another Room and..." />
    <meta property="og:description"        content="Oldies Playing in Another Room and other ambient sounds set the mood for relaxation or productivity" />
    <meta property="og:type"               content="website" />
    <meta property="og:image"              content="{% static 'images/record.jpg' %}" 

    {% block meta %}{% endblock %}

    <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path }}">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">

    <title>Oldies in Another Room and...{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/footer.css" %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
  </head>


<body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Oldies in Another Room and...</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" href="/app/support">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


      {% block content %}
      {% endblock %}
    
</body>
    <!-- FOOTER -->
    <footer class="my-footer">
    <hr class = "margin-top-15">
    <div class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p class="text-center">
            <p>&copy; 2021 Michela Dai Zovi &middot; <a href="/app/privacy-policy">Privacy</a> &middot; <a href="/app/support">Support</a>&middot; <a href="mailto:listen@oldiesinanotherroom.com">Contact</a></p>
      </p>
    </div>
  </footer>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  {% block scripts %}
{% endblock %}
  </body>
</html>


