{% extends 'layouts/base.html'%}
{% load static %}
{% load i18n %}


{% block content %}

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <video controls loop class="bd-placeholder-img" width="100%">
            <source src="{% static 'video/RecordLoop.mp4' %}" type="video/mp4">
          </video>
    </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
      <div class="row align-items-center" style = "padding-top:75px;">
        
        <div class="col">
          <a href = "https://apps.apple.com/de/app/oldies-in-another-room-and/id1562562841" target = "_blank">
            <center>
            <img width="400" src = "{% static 'images/app_store.png' %}">
            </center>
          </a>
        </div>
        
        <div class="col">
          <a href = "https://play.google.com/store/apps/details?id=com.mdaizovi.OldiesInAnotherRoomAnd" target = "_blank">
            <center>
            <img width="400" src = "{% static 'images/google_play.png' %}">
            <center>
          </a>
        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Classic Americana Oldies Music:
            <span class="text-muted">streaming from the Library of Congress</span></h2>
        <p class="lead">more than 8 hours worth of classic jazz.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src = "{% static 'images/icon-trans.png' %}">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ambient Background Noise:<span class="text-muted"> 25 sounds</span></h2>
        <p class="lead">Mood-setting background sounds can be layered for a richer feeling of being there </p>
      </div>
      <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src = "{% static 'images/screen_shot500x500.png' %}">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock %}