{% extends 'layouts/base.html'%}
{% load static %}
{% load i18n %}


{% block content %}
<main>
    <div class="container marketing">
        <div class="row featurette">
            <div class="col">
                <hr class="featurette-divider">
                <p>
                    <center>
                        <strong>For support, do not hesitate to contact listen@oldiesinanotherroom.com</strong>
                    </center>
                </p>

            </div>
        </div>
    </div>
</main>
{% endblock %}

